.main{
    background: #f6f6f6;
}
.login{
    height: 100%;
    min-width: 420px;
}
.login-top {
    width: 100%;
    height: 80px;
    background: #f6f6f6;

}
.login-top h1 {
    font-size: 20px;
    font-family: microsoft yahei, SimHei;
    font-weight: normal;
    color: #000;
    padding: 50px 0 10px 0;
    margin: 0;
}
.box{
    display: flex;
}
.login-right{
    background: white;
    width: 450px;
    height: 420px;
    /* text-align: center; */
   padding: 50px 0;
}

.login-right input{
    width: 300px;
    height: 50px;
}
.login-right>ul{
    padding: 0 40px;

}
.login-right li{
    padding-bottom: 20px;
}


.login-right #login-btn1 {
    width: 200px;
    height: 50px;
    background: #E52142;
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 margin-right: 10px;
   margin-left: 40px;
    float: left;
    
}
.login-right .forgetPass{
    float: left;
    width: 100px;
    height: 50px;
    margin-left: 20px;
   line-height:  50px;
    font-size: 12px;
    
    
}
.login-right .forgetPass a{
  color: blue;
    
}
.login-right>div:nth-of-type(1){
    width: 450px;
    height: 50px;
    
   
}
.login-right p{
    width: 100%;
    height: 50px;
    padding-left: 40px;
    line-height: 50px;
    color: #E52142;
    font-size: 12px;
    
    display: none;
   
}

.login-right>div:nth-of-type(2) h4{
 padding-left: 40px;
 height: 50px;
 line-height: 50px;
 
    
}
.login-right>div:nth-of-type(2) ul{
    display: flex;
    padding-left: 40px;
    
    
}
.login-right>div:nth-of-type(2) ul li{
    padding-right: 10px;
    
    
}


.head {
    height: 30px;
    background: #F5F5F5;
}

.head .head1 {
    display: flex;
}

.head-l li:nth-of-type(5) a {
    background-color: lightgray;
    border-radius: 5px;
    color: white;
    padding: 0 5px;
}

.head .head1 ul {
    display: flex;
    line-height: 30px;
}

.head .head1 ul li {
    line-height: 30px;
    color: #999;
    font-size: 12px;
    cursor: pointer;
}

.head .head1 .head-l li {
    padding-right: 10px;
}

.head-l {
    padding-right: 100px;
}
.head-r li:nth-child(1){
    background: red;
    width: 200px;
    text-align: c;

}

.head-r li a {
    border-right: 1px solid #dcdcdc;
    padding: 0 10px;
}

.head-r li .login {
    border: none;
}

.head-l li>a:hover,
.head-r li>a:hover {
    color: #ff5252;
}

.ma {
    height: 30px;
}

marquee {
    width: 300px;
    line-height: 30px;
}

.head-r {
    padding-left: 40px;
    position: relative;
}



.head-r dd {
    display: none;
}

.head-r dl {
    position: absolute;
    z-index: 999;

}

.head-r dd a {
    border: none;
}

.head-r li dl:hover dd {
    display: block;
    background: white;


}

.head-r li dl:hover dt {

    background: white;
    color: #ff5252;

}

.head-r li dl:hover dt a {


    color: #ff5252;

}


.head-r dl:hover dd:hover {
    background: #e5e5e5;

}

.head-r dl {
    position: relative;

}

.head-r li .sj {
    border: none;
}



.cart {
    position: relative;
}


#cart-number {
    border-radius: 10px;
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    top: -10px;
    right: 0px;
    background: #FF5252;
    z-index: 2;
    color: white;
    font-size: 12px;
    text-align: center;
    line-height: 20px;

}
