.title span:hover {
  color: red;
  cursor: pointer;
}

.goods-search ul {
  width: 100%;
  height: 60px;
  border: 1px solid #cdcdcd;
  display: flex;
  align-items: center;
  background: #ffffff;
}
.hotBar ul li:hover a{
  color: red;
}
.nav .container ul li:hover a{
  color: red;
}
.nav .container ul li:first-child{
  height: 40px;
}
.nav{
  height: 40px;
  border-bottom: #ff2b2b 3px solid;
}
.inselect div:hover span{
  color: red;
}

.cont{
  width: 100%;
  height: 800px;
}
.goods-search ul li {
  height: 40px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  padding: 0 10px;
  line-height: 40px;
}

.goods-search ul li:hover {
  color: red;
}

.goods-search ul li h2 {
  font-size: 14px;
  font-weight: normal;
  color: #666666;
}

.goods-search ul li:first-child {
  background-color: #f6f6f6;
  width: 112px;
  height: 60px;
  padding-left: 40px;
  border: 1px solid #cdcdcd;
}

.title-left {
  height: 65px;
  width: 100%;
  line-height: 65px;
}

.title-left span {
  font-size: 14px;
}

.goods-searchbar {
  width: 100%;
  height: 40px;
  background: #f5f5f5;
  margin: 20px 0;
  line-height: 40px;
  display: flex;
  justify-content: space-around;
}

.goods-searchbar ul {
  display: flex;
}
.cont{
 width: 100%;
 min-height: 400px;
}
.main{
  margin: 50px 0;
  min-height: 400px;
}

.goods-searchbar ul li {
  cursor: pointer;
  height: 30px;
  margin: 5px 10px;
  background: white;
}

.goods-searchbar ul li:hover {
  background-color: red;
  color: white;
}

.goods-searchbar div {
  cursor: pointer;
  background: white;
}

.goods-searchbar div label {
  cursor: pointer;
  padding: 0 10px;
}

.goods-searchbar div label:hover {
  color: red;
}

.goodslist {
  width: 100%;

  margin: 30px 0;
}

.goodslist ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  
}
.main{
  margin: 50px 0;
}
.footer{
padding-top: 50px ;
}
.goodslist ul li {
  border: 1px solid #999999;
  width: 240px;
  height: 420px;
  padding: 10px;
}

.goodslist ul li img {
  display: block;
  width: 214px;
  height: 214px;
  padding: 10px 0;
}

.goodslist ul li div {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.goodslist ul li div span {
  font-size: 12px;
}

.goodslist ul li .name {
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #666666;
  height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
}

.goodslist ul li button {
  width: 140px;
  margin: 10px 40px;
}

.goodslist ul li:first-child a:nth-of-type(2) {
  color: #ff2b2b;
  font-size: 18px;
}
